<!DOCTYPE html>
{% load static %}
{% load leaflet_tags %}
<html>
<head>
      {% leaflet_js %}
      {% leaflet_css %}
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <meta name="viewport" content="width=500, user-scalable=no">
      <style>
            body {
                padding: 0;
                margin: 0;
            }
            html, body, #map {
                height: 100%;
            }
            .mycluster {
                background: lightblue;
                border-radius: 50%;
                width: 100px;
                height: 100px;
                border: solid;
                text-align: center;
                line-height: 24px;
                font-size: 20px;
            .wrapper {
                display: flex;
                align-items: stretch;
            }
            .fill {
                min-height: 100%;
                height: 100%;
            }
            #sidebar {
                min-width: 250px;
                max-width: 250px;
            }

            #sidebar.active {
                margin-left: -250px;
            }
            #sidebar {
                min-width: 250px;
                max-width: 250px;
                min-height: 100vh;
            }
        </style>
        <script type="text/javascript" src="{% static 'dist/leaflet.ajax.js' %}"></script>
        <script type="text/javascript" src="{% static 'dist/leaflet-search.src.js' %}"></script>
        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/MarkerCluster.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/leaflet.markercluster.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/8.5.1/nouislider.min.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/8.5.1/nouislider.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script
  src="https://code.jquery.com/jquery-3.5.0.slim.min.js"
  integrity="sha256-MlusDLJIP1GRgLrOflUQtshyP0TwT/RHXsI1wWGnQhs="
  crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
     <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">


    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>


    <title>Survey Map</title>
    </head>
    <body>
    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script
      src="https://code.jquery.com/jquery-3.5.0.slim.min.js"
      integrity="sha256-MlusDLJIP1GRgLrOflUQtshyP0TwT/RHXsI1wWGnQhs="
      crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>


    <div class="wrapper">
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>WSP Traffic Survey Map</h3>
            </div>
            <div class="bg-light border-right" id="sidebar-wrapper">
                <form action="{% url 'home' %}">
                    <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        Filter Books
                    </a>
                    <input type="submit" class="btn btn-info" form="id_query_form" formaction="{% url 'form' %}" value="Export CSV">
                    <input type="submit" class="btn btn-default" form="id_query_form" formaction="{% url 'form' %}" value="Export XLS">
                    <div class="pull-right">
                        <input type="submit" class="btn btn-success" formaction="{% url 'admin:index' %}" value="Manage Survey">
                    </div>
                </form>

                <form method="get" action="." id="id_query_form">
                    <p>
                        {{ form.keywords }}
                    </p>
                    <div class="row">
                        <div class="col-md-6">
                            {{ form.publish_date_before }}
                        </div>
                        <div class="col-md-6">
                            {{ form.publish_date_after }}
                        </div>
                    </div>

                    <p></p>
                    <p>
                        <input class="btn btn-success" type="submit"/>
                        <button type="reset" class="btn btn-info" value="Reset filters">Reset filters</button>
                        <button type="reset" class="btn btn-warning" id="id_clear_filters" onclick="return resetForm(this.form);">Clear Filters</button>
                    </p>

                </form>

                <div id="slider" style="left: 0px; right: 1px; margin: 10px 25px;"></div>
                <div style="margin-right: auto; margin-left: auto; width: 90%; margin-bottom: 10px; text-align: center;">
                <input type="number" min='1' max='35675999' id="input-number-min">
                <input type="number" min='2' max='35676000' id="input-number-max">
                </div>
            </div>
        </nav>
    </div>
    <div id="content">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">

                <button type="button" id="sidebarCollapse" class="btn btn-info">
                    <i class="fas fa-align-left"></i>
                    <span>Toggle Sidebar</span>
                </button>

            </div>
        </nav>

    </div>

        {% leaflet_map "map" callback="window.create_map" %}
    <script type="text/javascript">
    var head_column = ["SurveyID", "Job Number", "Project Name", "Survey", "Issue Date"]

    var rangeMax = 2020
    var rangeMin = 2015

    //generate random color base on the project number
    //reference: https://gist.github.com/mjackson/5311256
    function hslToRgb(h, s, l) {
      var r, g, b;

      if (s == 0) {
        r = g = b = l; // achromatic
      } else {
        function hue2rgb(p, q, t) {
          if (t < 0) t += 1;
          if (t > 1) t -= 1;
          if (t < 1/6) return p + (q - p) * 6 * t;
          if (t < 1/2) return q;
          if (t < 2/3) return p + (q - p) * (2/3 - t) * 6;
          return p;
        }

        var q = l < 0.5 ? l * (1 + s) : l + s - l * s;
        var p = 2 * l - q;

        r = hue2rgb(p, q, h + 1/3);
        g = hue2rgb(p, q, h);
        b = hue2rgb(p, q, h - 1/3);
      }

      return [ r * 255, g * 255, b * 255 ];
    }

    var rgbToHex = function (rgb) {
      var hex = Math.floor(Number(rgb)).toString(16);
      if (hex.length < 2) {
           hex = "0" + hex;
      }
      return hex;
    };

    var fullColorHex = function(r,g,b) {
      var red = rgbToHex(r);
      var green = rgbToHex(g);
      var blue = rgbToHex(b);
      return red+green+blue;
    };

    function getColor(d) {
        h = (d % 256) / 256
        var color = hslToRgb(h, 1, 0.5);
        var s = '#'
        return '#' + fullColorHex.apply(null, color);
    }


    //populating the map with json data with circle markers and clustered markers
    function out_layers(map, options, rangeMax, rangeMin, action){
        function protecland_marker(feature, latlng) {
            return L.circleMarker(latlng, {
                radius: 8.0,
                fillColor: getColor(parseInt(feature.properties.SurveyID[1])),
                color: '#000000',
                weight: 1,
                opacity: 1.0,
                fillOpacity: 0.8,
                popupAnchor:  [-4, 0]
            })
        }

        function popUp(f,l){
            var out = [];
            if (f.properties){
                for(key in f.properties.SurveyID){
                    out.push("<b>" + head_column[key]+": </b>"+f.properties.SurveyID[key]);
                }
                l.bindPopup(out.join("<br />"));
            }
        }

        var markersLayer = L.markerClusterGroup({
            iconCreateFunction: function (cluster) {
                var markers = cluster.getAllChildMarkers();
                var html = '<div class="circle">' + markers.length + '</div>';
                return L.divIcon({ html: html, className: 'mycluster', iconSize: L.point(28, 28) });
            },
            spiderfyOnMaxZoom: true, showCoverageOnHover: true, zoomToBoundsOnClick: true
        });

        var map_survey_str =  JSON.parse('{{ survey }}')
        var map_survey = JSON.parse(map_survey_str)
        L.geoJson(map_survey,{
                coordsToLatLng: function (coords) {
                    return new L.LatLng(coords[0], coords[1], coords[2]);
                },
                filter: function(feature, layer) {
                    if (feature.properties){
                         return (feature.properties.SurveyID[4].substr(0,4) <= rangeMax) &&
                            (feature.properties.SurveyID[4].substr(0,4) >= rangeMin);
                        }
                    },
                onEachFeature:popUp,
                pointToLayer:protecland_marker
            }).addTo(markersLayer);

            map.addLayer(markersLayer);
            return map;
        }

    //generate map when loading the html or when year slider is changed
    function create_map(map, options){
            var ThisYear = new Date().getFullYear();
            var slidervar = document.getElementById('slider');
            noUiSlider.create(slidervar, {
                connect: true,
                start: [ 2015, new Date().getFullYear() ],
                step: 1,
                range: {
                    min: 2015,
                    max: new Date().getFullYear()
                }
            });
            document.getElementById('input-number-min').setAttribute("pattern", "number");
            document.getElementById('input-number-max').setAttribute("pattern", "number");
            var inputNumberMin = document.getElementById('input-number-min');
            var inputNumberMax = document.getElementById('input-number-max');
            inputNumberMin.addEventListener('change', function(){
                slidervar.noUiSlider.set([this.value, null]);
            });
            inputNumberMax.addEventListener('change', function(){
                slidervar.noUiSlider.set([null, this.value]);
            });
            slidervar.noUiSlider.on('update', function( values, handle ) {
                //handle = 0 if min-slider is moved and handle = 1 if max slider is moved
                if (handle==0){
                    document.getElementById('input-number-min').value = Math.floor(values[0]);
                } else {
                    document.getElementById('input-number-max').value =  Math.floor(values[1]);
                }
                rangeMin = document.getElementById('input-number-min').value;
                rangeMax = document.getElementById('input-number-max').value;
                //first let's clear the layer:
                var reload = false;
                if (typeof map != 'undefined'){
                    map.eachLayer(function (layer) {
                        if (layer._url != 'https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}{r}.png'){
                            map.removeLayer(layer);
                        }
                        reload = true
                    });
                }

                //then call the plot map function
                map = out_layers(map, 123, rangeMax, rangeMin, reload)

            });

    }

    </script>


    </body>
</html>